body{
    background-image: url('/images/home/background-home-tablet.jpg');
    background-size: cover;
}

.main{
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.main-right{
    display: flex;
    justify-content: center;
    padding: 3.0px 30px;
    margin-top: 50px;
}

.main-left{
    margin-bottom: 100px;
    padding: 30px 30px;
}

h5{
    font-size: 20px;
}

p{
   font-size: 12px;
}

.info-box{
    top: 259px;
}


.mid{
    display: none;
}

.header{
    padding-top: 0px;
}

.left{
    left: 25px;
    top: 20px;
}
.left img{
    height: 40px;
    width: 40px;
}

/* navbar */

.navbar{
   padding-left: 40px;
   font-size: 20px;
} 

.nav-h5{
    display: none;

}

.navbar ul{
    font-size: 20px;
}

.navbar li{
    letter-spacing: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar a::after{

    bottom: -28px;

 }